<div class="row">
    <div class="col-sm-6 handicap">
            <img class='d-block img-responsive ' src='/images/handicap/8.jpg' alt='handicapBusses'>
        </div>
    <div class="col-sm-6 handicap">
        <img class='d-block img-responsive ' src='/images/handicap/1.jpg' alt='handicapBusses'>
    </div>
    <div class="col-sm-6 handicap">
        <img class='d-block img-responsive ' src='/images/handicap/2.jpg' alt='handicapBusses'>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 handicap">
        <img class='d-block img-responsive ' src='/images/handicap/3.jpg' alt='handicapBusses'>
    </div>
    <div class="col-sm-6 handicap">
        <img class='d-block img-responsive ' src='/images/handicap/5.jpg' alt='handicapBusses'>
    </div>
    <div class="col-sm-6 handicap">
        <img class='d-block img-responsive ' src='/images/handicap/6.jpg' alt='handicapBusses'>
    </div>
    <div class="col-sm-6 handicap">
        <img class='d-block img-responsive ' src='/images/handicap/7.jpg' alt='handicapBusses'>
    </div>
</div>
      
      <hr class="hr">