<div class="row">
    <div class="col-sm-6 party">
        <img class='d-block img-responsive ' src='/images/party/1.jpg' alt='partyBusses'>
    </div>
    <div class="col-sm-6 party">
        <img class='d-block img-responsive ' src='/images/party/2.jpg' alt='partyBusses'>
    </div>
    <div class="col-sm-6 party">
            <img class='d-block img-responsive ' src='/images/party/3.jpg' alt='partyBusses'>
        </div>
</div>
<div class="row">
    <div class="col-sm-6 party">
        <img class='d-block img-responsive ' src='/images/party/4.jpg' alt='partyBusses'>
    </div>
    <div class="col-sm-6 party">
        <img class='d-block img-responsive ' src='/images/party/5.jpg' alt='partyBusses'>
    </div>
    <div class="col-sm-6 party">
        <img class='d-block img-responsive ' src='/images/party/6.jpg' alt='partyBusses'>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 party">
            <img class='d-block img-responsive ' src='/images/party/7.jpg' alt='partyBusses'>
        </div>
</div>