<script src="http://maps.googleapis.com/maps/api/js"></script>

<div class="row contactPage">
  <div class="col-sm-12 col-lg-6" id="mapAndInfo">
    <div class="row">
        <div class="col-sm-12">
          <div id="map">
              <label>
                <app-ggmaps></app-ggmaps>
              </label>
          </div> 
        </div>
    </div>
    <div class="row"> 
        <div class="col-sm-12">
        <div  id="adress">
          <label> 
            <p>Telefon: 36 41 13 13 <br>
              Email: vangskov&#64;vangskov.dk <br>
              Adresse: Valhøjs Alle 143, 2610 Rødovre 
            </p>
          </label>
        </div>  
      </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
        <div  id="hours">
          <label>
            <p> <b>Åbningstider</b><br>
              Mandag - fredag - 06.30 til 16.00 <br>
              Lørdag - Lukket <br>
              Søndag - Lukket <br>
            </p>
          </label>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
        <div  id="facebook">
          <app-facebook></app-facebook>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-4 col-lg-6">
    <div class="row contactPage">
      <div class="col-sm-12" id="contactInfo">
        <h3><b>Brug for et tilbud?</b></h3> <br>
          <p>  Al bestilling af kørsel foregår pr. mail eller evt. pr. telefon
              Ved opstart af ny kørsel vil Rødovre Kommune modtage rutelister på den aktuelle kørsel, 
              og opdateringer, hvis det foretages ændringer i de bestående fister.            
        </p>
        <p>
            Alle ruter bliver planlagt af vores kørselsleder, som har 17 års erfaring på området. 
            Han planlægger ruten mest hensigtsmæssigt, med tid - kilometer -hastighed - pris - hurtigste - 
            korteste vej, samt meget vigtigt, ud fra hensyntagen til den enkelte borgeres behov.
        </p>
        <p>Faktura for udført kørsel vil blive sendt elektronisk tit det EAN nr. der er aktuelt for kørslen</p>
        <p>Udenfor kontortid kan der indtales besked på telefonsvareren, sendes mail eller sendes tekstbeskeder vores sms-telefon.<br>
            Ved kontakt til vogne, som kører efter kontorets åbningstid, benyttes enten vagtelefon eller direkte nummer til chaufføren.
        </p>
        <b><p>
          For at bestil din kørsel klik
          <a 
            href='https://vangskov.webtour.dk/bus/styring/ordre.asp?lang=DK&company='
            target="_blank">
              her.
          </a>
        </p></b>
        <br>
      </div>
    </div>
  </div>
</div>
