<div class="row">
    <div class="col-sm-12" id="tekniskText">
        <h3><b>Kørselsmateriel</b></h3>
        <p>
        Den udbudte kørsel vil blive udført med nyere minibusser, som er opbygger i Danmark 
        efter Trafikstyrelsens love og regler (betalt dansk moms og afgift)
        </p>
        <p>
        Alle busser er indrettet elektrisk skydedør i ekstra bredde og med lav indstigning med håndtag til hjælp ved ind-/udstigning.
        </p>
        <p>
        Bussens sæder er alle udstyret med trepunktsseler, og firepunktsbespænding til fastgørelse af kørestole med gulvbeslag, 
        samt trepunktsseler til passagerer siddende i kørestol under transport. Oliefyr, varme foran og bagi, samt lift tilkørestole.
        </p>
        <p>
        Vognene bliver synet hvert år, samt løbende serviceret på aut. Værksted.
        </p>
        <p>
        Alle vogne kører på svovlfattig miljødiesel og er godkendt til kørsel i miljøzoner og er udstyret med en Euro 6 motor.
        </p>
        <p>
        Virksomheden har miljøsamarbejde med Q8, som tilbyder kurser i miljøbevidst kørsel.
        </p><br>
    
        
        
        <h3><b>Tekniske hjælpemidler og udstyr</b></h3>
        <p>
            Trappemaskiner af mærkerne "Scalamobil" og "trappetjeneren", som efter lovens forskrifter, bliver efterset 
            en gang årligt. Maskinerne er godkendt af arbejdstilsynet og alle chauffører er uddannet i brugen af disse.
        </p>
        <p>
            Endvidere råder vi over 10 transportstole, selepuder og autostole. Vognene er udstyret med GPS og Tracking system.
        </p><br>
    
        <h3><b>Kvalitetssikring</b></h3>
        <p>
            Målsætningen for Vangskov Bustrafik er til stadighed at fremstå som en kvalitets og miljøbevidst kørselsleverandør og yde den 
            bedste service med fokus på den enkelte borgers behov. <br>
            Der kan udfører alle slags opgaver indenfor handicap og persontransport. <br>
            Til den udbudte kørsel med ældre medborgere vil blive anvendt de samme chauffører til at køre ruterne hver dag.
            
        </p>
        <p>
            Chaufførerne hos Vangskov Bustrafik er veluddannede og gennemgår løbende kurser i bevægelseshæmmede- tekniske hjælpemidler- 
            konflikthåndtering, samt førstehjælp. Alle chauffører har for nyligt gennemgået amu kursus BAB 1-3, 
            (l.lntroduktion til offentlig servicetrafik, 2. Befordring af sygdoms- og alderssvækkede passagerer og 3. 
            Befordring af fysisk handicappede passagerer) <br>
            Alle chauffører skal ved ansættelsen, fremvise straffeattest og børneattest.
        </p><br>
    
        <h3><b>Interne regler</b></h3>
            <ol>
                <li>Chaufføren skal inden ansættelsen fremvise ren straffeattest.</li>
                <li>Chaufføren skal skriftligt give Vangskov lov til at indhente en børneattest hos Politiet.</li>
                <li>Chaufføren skal inden ansættelsen fremvise gyldigt kørekort, førerbevis og eu-bevis</li>
                <li>Chaufføren skal bære synligt ID-kort.</li>
                <li>Chaufføren skal være velsoigneret.</li>
                <li>Chaufføren skal have et godt by-kendskab, - forstå og tale dansk.</li>
                <li>Chaufføren skal altid holde vognen ren og velholdt.</li>
                <li>Enhver fejl ved vognen skal straks meldes til kontoret.</li>
                <li>Chaufføren skal altid være høflig og hjælpsom.</li>
                <li>Chaufføren har tavshedspligt.</li>
                <li>Tobaksrygning er totalt forbudt i vognen. (Gælder også passagerer)</li>
                <li>Der må ikke drikkes nogen former for alkohol / spiritus i arbejdstiden.</li>
            </ol><br>
        
        <h3><b>Reservekapacitet</b></h3>
        <p>
            Vi disponerer over 2 reservebusser og disponible chauffører, som kan rykke ud med kort varsel, 
            eller mulighed for hurtigt at tilkalde nærmeste ledige bus.
        </p><br>
    
        <h3><b>Informationsteknologi</b></h3>
        <p>
            Alle computere på kontoret er tilsluttet netværk, som giver hurtig og let internt kommunikation 
            derudover kan vore kunder skrive besked direkte til bogholderi, kørselsleder eller virksomhedsejer, 
            hvilket mange er glade for.
        </p><br>
    
        <h3><b>Dokumentationskrav</b></h3>
        <p>
            Vangskov Bustrafik har i dag i alt 19 tilladelser. (Fælleskabstilladelse til international personbefordring)
        </p>
    </div>
</div>