<div class="row">
    <div class="col-sm-12" id="aboutText">
        <h3><b>Vangskov bustrafik</b></h3>
          <p>
              Vangskov bustrafik er oprindeligt en 37 år gammel virksomhed, Grundlagt af Lis & Preben Vangskov. 
              I dag er det en enkeltmandejet virksomhed, ejet af Flemming Vangskov.
          </p>
          <p>
              Flemming Vangskov, har inden virksomhedsovertagelsen, kørt for Vangskov Bustrafik, som vognmand i eget selskab Vangsskovs 
              Busservice, men i september 2015 overtog han Vangskov Bustrafik for at fortsætte i det navn. <br>
              Virksomheden er der 11 ansatte chauffører, herunder både timelønnede og fastlønnede, samt et samarbejde med selvstændige 
              vognmænd. <br>
              Busservicen består primært af handicap kørsel, med passagerer i alle aldre.
              Skolekørsel til/fra specialundervisning og fysisk/psykisk handicappede, kørsel for dagcentre, til/fra træning, 
              samt ture ud af huset. Derudover køres "løsture" for f.eks. Tivoligarden og grupper, som skal fragtes fra A til B.
          </p>
          <p>
              Virksomheden råder over 13 busser alle, flexibelt indrettet, med skydedøre og lift beregnet til transport af kørestole. 
              Busserne er, ved standard opsætning, indrettet med sæder til mellem 13 og 20 passagerer. På det administrative plan er der 4 
              ansatte, som varetager ruteplanlægning, allround kontor opgaver, telefonpasning, regnskaber, kundekontakt og tilbudsgivning.
          </p>
          <p>
              Vangskov Bustrafik kører for flere kommuner i hovedstadsområdet, løskørsel for private og firmaer og startede i 2017 starte 
              med at køre flexkørsel for Movia. Pt. Har virksomheden 3 biler som kører Flexkørsel, men har netop budt ind på at have 7 
              biler til at køre.
          </p>
          <p>
              Da Flemming Vangskov overtog virksomheden var det med 5 busser og et tilsvarende antal chauffører. Virksomheden er i en rivende 
              vækstmæssig udvikling og har på under 2 år fordoblet antallet af ansatte og busser.
          </p>
          <p>
              De chauffører som er ansat direkte hos Vangskov Bustrafik, kommer på kontoret regelmæssigt. Det personlige fremmøde 
              skyldes udlevering kørselslisterne, busskift og afhentning/aflevering af interiør eller hjælpemidler. <br>
              Da der ikke er et fælles arbejdssted for alle ansatte, prioriteres det højt i virksomheden at lave arrangementer for 
              at skabe en god stemning internt i personalegruppen. Det er vigtigt at være sammen om noget som ikke er arbejde. 
              Det gøres ved at afholde personalemøder, velvære tiltag (f.eks. Massage og motion), sociale arrangementer eller 
              fælles morgenbrød og kage.
              
          </p><br>
          <h3><b>Sociale tiltag</b></h3>
          <p>
              Vi har i en del år haft et godt samarbejde med jobcentre og uddannelsesinstitutioner, hvorfra vi blandt andet har fået chauffører 
              og kontormedarbejdere, i flexjob. Vi har også har en del borgere i arbejdsprøvning og praktik.
          </p>
          <p>
              Dette har foreløbigt resulteret i at 4 personer nu er ansat på hel eller deltid i virksomheden.
              Vangskov bustrafik mener at det er vigtigt at tage et socialt ansvar og påtænker også i fremtiden at gøre en indsats for at hjælpe folk i arbejde.        
          </p><br>
      </div>
    </div>
      <div class="row">
          <hr class="hr">
          <div class="employeeTitle">
              <h3><b>Administration</b></h3>
          </div>
          <div class="col-sm-6 employee">
              <img class='d-block img-responsive ' src='/images/VangskovProfile.jpg' alt='employee'>
          </div>
          
          <div class="col-sm-6 aboutEmployee">
              <p>Navn: Flemming Vangskov</p>
              <p>Stilling: Ejer</p>
              <p class="cursive">18 års erfaring med persontransport</p>
          </div>
      </div><br>
      <div class="row">
          <div class="col-sm-6 employee">
              <img class='d-block img-responsive ' src='/images/VicProfile.jpg' alt='employee'>
          </div>
          <div class="col-sm-6 aboutEmployee">
                  <p>
                      Navn: Flemming Vick <br>
                      Stilling: Kørselsieder <br>
                  </p>
          </div>
      </div><br>
      <div class="row">
          <div class="col-sm-6 employee">
              <img class='d-block img-responsive ' src='/images/ChristinaProfile.jpg' alt='employee'>
          </div>
          <div class="col-sm-6 aboutEmployee">
              <p>
                  Navn: Christina Hartvig <br>
                  Stilling: Bogholderi og chauffør <br>
              </p>
          </div>
      </div><br>
      <div class="row">
          <div class="col-sm-6 employee">
              <img class='d-block img-responsive ' src='/images/dogProfile.jpg' alt='employee'>
          </div>
          <div class="col-sm-6 aboutEmployee">
                  <p>
                      Navn: Anton <br>
                      Stilling: Kontor hund <br>
                  </p>
          </div>
      </div>
      
      <hr class="hr">
      
      
      
      